@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    overflow-x: hidden;
    font-family: 'Young Serif', serif;
    z-index: 0;
    
}

